USE [master]
GO
/****** Object:  Database [cafe]    Script Date: 14.05.2020 00:28:11 ******/
CREATE DATABASE [cafe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cafe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\cafe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'cafe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\cafe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cafe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cafe]
GO
/****** Object:  Table [dbo].[gecmis]    Script Date: 14.05.2020 00:28:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gecmis](
	[masa_no] [int] NULL,
	[total_fiyat] [float] NULL,
	[urun_listesi] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[masa]    Script Date: 14.05.2020 00:28:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[masa](
	[masa_no] [int] NULL,
	[durum] [int] NULL,
	[siparis_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[siparis]    Script Date: 14.05.2020 00:28:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[siparis](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[urun] [varchar](250) NULL,
	[total_fiyat] [float] NULL,
	[adet] [float] NULL,
	[masa_no] [int] NULL,
 CONSTRAINT [PK_siparis] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[urun]    Script Date: 14.05.2020 00:28:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[urun](
	[urun_ismi] [varchar](50) NULL,
	[fiyat] [float] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[resim] [text] NULL,
	[image_key] [int] NULL,
 CONSTRAINT [PK_urun] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userTable]    Script Date: 14.05.2020 00:28:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userTable](
	[userName] [varchar](250) NULL,
	[password] [varchar](250) NULL,
	[isim] [varchar](100) NULL,
	[iseBaslangicTarihi] [varchar](250) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[yetki] [int] NULL,
 CONSTRAINT [PK_userTable] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[durum]    Script Date: 14.05.2020 00:28:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[durum]
AS
	SET NOCOUNT ON;
SELECT        masa_no, durum
FROM            masa
GO
/****** Object:  StoredProcedure [dbo].[masaselect]    Script Date: 14.05.2020 00:28:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[masaselect]
(
	@masa_no int
)
AS
	SET NOCOUNT ON;
SELECT        masa_no, durum, siparis_id
FROM            masa
WHERE        (masa_no = @masa_no)
GO
USE [master]
GO
